body{
    text-align: center;
}
#countlabel{
    display: black;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}
#BtnContainer{
    text-align: center;
}
.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: #ffffff;
    background-color: hsl(176, 24%, 39%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.button:hover{
    background-color: hsl(189, 100%, 53%);
}